body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("cavebackground.jpg");
}

.jumbotron {
    background: none;
}

.jumbotron h1 {
    text-align: center;
    background: none;
    font-family: 'Luckiest Guy', cursive;
    font-size: 500%;
    padding-top: 50px;
    color: orange;
}

h1 {
    background: darkblue;
}

.container {
    color: white;
}

.instructions {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.crystals {
    text-align: center;
    margin-top: 50px;
}

p {
    font-size: 18px;
}

.top-buffer {
    margin-top: 30px;
}